<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	<pipelines>
		
		<mvc.getXmlBasedLayoutDefinition>
			<processor type="Sitecore.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.XA.Feature.Composites">
			  <patch:attribute name="type" value="Sitecore.Support.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.Support.8051" />
			</processor>
		</mvc.getXmlBasedLayoutDefinition>
		
		<decorateRendering>
			<processor type="Sitecore.XA.Feature.CreativeExchange.Pipelines.Export.DecorateRendering.AddPageId, Sitecore.XA.Feature.CreativeExchange">
				<patch:attribute name="type" value="Sitecore.Support.XA.Feature.CreativeExchange.Pipelines.Export.DecorateRendering.AddPageId, Sitecore.Support.8051" />
			</processor>
		</decorateRendering>
		
		<ceImport.importRenderingProcessing>
			<processor type="Sitecore.XA.Feature.CreativeExchange.Pipelines.Import.RenderingProcessing.RenderingDetailsExtractor, Sitecore.XA.Feature.CreativeExchange">
				<patch:attribute name="type" value="Sitecore.Support.XA.Feature.CreativeExchange.Pipelines.Import.RenderingProcessing.RenderingDetailsExtractor, Sitecore.Support.8051" />
			</processor>
		</ceImport.importRenderingProcessing>
		
    </pipelines>
  </sitecore>
</configuration>